<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Limit WatchOS2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Limit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - Limit WatchOS2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C02553E1B14FA2700E8E36E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C3192481B3AF22700026CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C3192541B3AF22700026CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CF73DEB1AF6D86E002EDA42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CF73E041AF6D86F002EDA42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
